@charset "utf-8";
/* Global CSS Document */
body {margin:0 auto;padding:0;height:100%;color:#484848;font:12px/1.5 tahoma, arial, \5b8b\4f53;background:#fff;}div, form, ul, dl, dt, dd, ol, li, dd, p,fieldset {margin: 0 auto; padding:0; border:0; list-style:none; font-size:12px; }img { vertical-align:middle; border:none;border-style: none;}
table{border-collapse: collapse; list-style:none;}td{padding: 0;font-size:12px;line-height:1.5em;word-break:break-all; word-wrap:break-word;}
button, input, select, textarea { margin:0; padding:0; font-size:100%; outline:0; vertical-align:middle; cursor:pointer;}
em, b { font-style:normal;}.w90{ width:90%;}
h1,h2,h3,h4,h5,h6,b{font-size:12px; margin:0 auto; font-style:normal;font-weight:normal;}
.pr{position:relative;}.pa{ position:absolute;}.btb{ border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0;}
.rl{writing-mode:lr-tb;}.lw5{ letter-spacing:5px;}.hand{ cursor:pointer;}.dn{ display:none;}
.p10{ padding:10px;}.pt20{padding-top:20px;}.mt10{ margin-top:10px;}.mb10{ margin-bottom:10px;}.pt10{ padding-top:10px;}.pb10{ padding-bottom:10px;}.pl10{ padding-left:10px;}.pr10{ padding-right:10px;}.mr20{ margin-right:20px;}
/*clear style*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0px;height:0px;}
/*float style*/
.lf{float:left;padding:1px}.rf{float:right;padding:1px}.tc{ text-align:center;}.tl{ text-align:left;}.tr{ text-align:right;}.ml15{ margin-left:15px;}.ml20{ margin-left:20px;}.pl20{ padding-left:20px;}.p20{ padding:20px;}
.bm{ border-bottom:1px solid #CCC;}
/*links style*/
a {color:#484848; text-decoration:none;}a:hover { color:#6a9232;}
.ful a{color:#6a9232; text-decoration:underline;}.fc a{color:#6a9232;}.fcw a{ color:#000;}.fcw a:hover{ color:#fff;}.g_tit a:link{ color:#898989; text-decoration:none;}.g_tit a:hover{color:#6a9232; text-decoration:underline;}
/*font style*/
.red{ color:#F00;}.gray{ color:#aaa;}.gc{color:#6a9232;}.oc{ color:#e65900;}.blod{font-weight:bold;}.fb a{font-weight:bold;}.f12{font-size:12px;}.f14{font-size:14px;}.f20{font-size:20px;}.f30{font-size:30px;}
#wrap{width:100%; overflow: visible; _display:inline-block; margin:0 auto;}
/*global bg*/
.item li,.item li.on,.menu .con dd a,.btn_login_out,.btn_login_over,.sort-box .tit .good_del a,.brand-box .tit .brand_del a,.sort-box .tit b,.brand-box .tit b{background:url(images/body_admin.png) no-repeat;}
.path li,.menu .con dt,.body .hd,.menu .con dd a,.sel_ico,.s-del a,.tab_thbg{background:url(images/body_admin.gif) no-repeat;}
.s_btn,g_ico,.b_del3 a,.b_add a,#spec-list3 li #del,#spec-list li #del,#spec-left,#spec-right{background:url(images/form_body.jpg) no-repeat; }
.tab_thbg{background-position:0 -194px; background-repeat:repeat-x;}
.m_box{ background:#fffbe1; border:1px solid #febf90; border-collapse:separate;}.g_box{ background:#f1f1f1; border:1px solid #ccc;}.b_box{ background:#f3f8ff; border:1px solid #d9e4f3;border-collapse:separate;}.w_box{ background:#fff; border:1px solid #e0e0e0;}.bd_box{ background:#e7f1fe; border:1px solid #b7ceef;border-collapse:separate;}.y_box{ background:#fffaee; border:1px solid #e0e0e0;}
/*global table tr tr style begin*/
.th{ background:#f3f8ff; font-weight:bold; border:1px solid #d9e4f3;}.th td{border:1px solid #e0e0e0;}.td{border:1px solid #d9e4f3;}.td td{border:1px solid #d9e4f3;}
/*global table tr tr style end*/
.sa { position:relative; left:2px;}.sa * {position:absolute;width:14px; height:17px; overflow:hidden; font-family:Simsun; font-size:16px;line-height:20px;color:#febf90;}.sa em { z-index:99;}.sa span { z-index:999; top:1px; color:#fffbe1;}.sa.up { top:-10px; bottom:auto }
/*private style*/
.up_info{ width:300px; height:40px;line-height:40px; border:1px solid #ededed; padding:5px 10px;}
/* login page begin */
.login_bg{ width:1100px; height:1000px;background: url(images/login_bg.jpg) no-repeat; position:relative; margin:0 auto;}
#login_form{ width:260px; height:50px; position:absolute; z-index:100; left: 592px; top: 440px; } 
form .login_input{ width:150px; height:48px; float:left;padding-top:2px;}form .login_input .user_input{ height:20px; margin-bottom:6px;}form .login_input .pass_input{ height:20px;}
form .login_btn{ width:110px; height:50px; float:left; }
form .key{ width:120px; height:16px; line-height:16px; padding-left:3px; border:0;font-weight:bold;color: #6a9232;}
.btn_login_out,.btn_login_over{ width:80px; height:45px; float:left; line-height:26px; font-size:14px; color:#FFF; font-family:Microsoft Yahei;_background:url(images/body_admin.gif) no-repeat; border:none; cursor:pointer;}.btn_login_out{background-position:-2px -3px;}.btn_login_over{background-position:-2px -54px;}
/* admin top begin */
.logo_area{ width:247px; height:110px; float:left; }.logo_area .logo{ width:230px; height:56px; padding:30px 0 0 10px;}.logo_area .pass{ width:240px; height:24px; line-height:20px; text-align:center;}
.nav{ width:600px; height:110px; float:left;}
.path{ width:600px; height:20px; margin:55px 0 10px 0;}.path li{ width:auto; height:16px;line-height:14px; float:left; background-position:0 -129px; margin-right:12px; padding-left:10px;}
.item{ clear:both;}.item li{ width:94px; height:26px; line-height:26px;display:block; float:left; text-align:center; _background:url(images/body_admin.gif) no-repeat; background-position:-95px -160px;}
.item li a{ color:#000;}.item li.on{_background:url(images/body_admin.gif) no-repeat;background-position:0 -160px; font-weight:bold;}.item li.on a{ color:#fff;}
/* admin menu begin */
.menu{ width:210px; border:1px solid #e1e1e1; margin-left:5px;}.menu .tit{height:34px; line-height:34px; border-bottom:4px solid #b7d200; text-align:center; font-size:14px;}.menu .con{ overflow:hidden;}
.menu .con dt{height:30px; display:block; line-height:30px; background-position:0 -240px; padding-left:40px; font-size:14px; cursor:pointer; margin:3px auto;}.menu .con dt:hover{ background-position:0 -270px;}
.menu .con .dton{background-position:0 -270px;font-weight:bold;}.menu .con .dton a{color:#6a9232; }.menu .con dt:hover a{color:#6a9232; font-weight:bold;}
.menu .con dd a{ height:30px; display:block; line-height:30px; background-position:0 -300px; padding-left:26px; margin:2px 0 2px 2px;}.menu .con dd a.on,.menu .con dd a:hover{background-position:0 -330px;color:#6bc224;font-weight:bold;}
/* admin main begin */
.body{ width:99%; height:100%;border:1px solid #e1e1e1; float:left;}
.body .tit{height:30px; line-height:30px; background:#f4f4f4; padding:0 20px;}.body .tit li{ width:auto; height:30px; line-height:30px;float:left; padding:0 5px;}
.body .con{padding:20px;}div{ margin-left:0;}.m10{ margin:10px;}
.kd{ border:1px solid #e0e0e0;width:200px;height:20px;line-height:20px;padding-left:3px;}.kd2{height:50px;}.kd3{ width:150px;}.kd4{ width:20px;}.kd5{ width:500px;}.kd6{ width:80px;}.kd7{ width:300px;}.kd8{ width:400px;}.kd9{ width:50px;}.kd10{ width:120px;}.kd11{ width:180px;}.kds{ border:1px solid #e0e0e0;height:20px;line-height:20px;padding-left:3px;}
/*button begin*/
.btn{height:22px; border:1px solid #5d5c5c; line-height:20px; cursor:pointer; padding:0 10px; margin-left:10px; background:#FFF;}
.btn:hover{ background:#739a2c; color:#FFF; border:1px solid #4b6f0a;}
.s_btn{margin-left:10px; display:block; float:left;}
.i_add{ width:14px; height:16px;background-position:0 -20px;}
.i_del{ width:14px; height:16px;background-position:-209px -67px;}
.i_save{ width:14px; height:20px;background-position:-136px -36px;}
.i_hy{ width:16px; height:20px;background-position:-91px 0;}
.i_set{ width:14px; height:16px; background-position:-112px -56px;}
.i_noset{ width:14px; height:18px; background-position:-112px -72px;}
.i_reply{ width:16px; height:16px; background-position:-131px -56px;}
.i_create{ width:16px; height:16px; background-position:-131px -37px;}
.i_up{ width:14px; height:16px; background-position:-99px -18px;}
.i_down{ width:14px; height:16px; background-position:-99px -36px;}
.i_afresh{ width:14px; height:18px; background-position:0 -56px;}
.i_show{width:14px; height:15px;background-position:-113px 0;}
.i_noshow{width:14px; height:15px;background-position:-113px -16px;}
.i_ok{ width:14px; height:16px; background-position:-133px -17px;}
.i_error{ width:14px; height:16px; background-position:-33px 0;}
.i_copy{ width:14px; height:16px; background-position:-38px -107px;}
.i_right{ width:14px; height:16px; background-position:0 -107px;}
.i_wrong{ width:14px; height:16px; background-position:-18px -107px}
.b_del{ width:13px; height:13px;border:none;background-position:-40px -2px;}
.b_del3 a{ width:16px; height:16px; display:block; background-position:-63px -22px;}
.b_del3 a:hover{background-position:-63px -39px;}
.b_add a{ width:16px; height:16px; display:block; background-position:-81px -22px;}
.b_add a:hover{background-position:-81px -39px;}
.ico_edit{ width:14px; height:14px; float:left; background-position:-19px 0;}
.ico_xia{ width:14px; height:14px; float:left; background-position:-54px -108px;}
.ico_update{ width:14px; height:18px; float:left; background-position:-130px -72px;}
.ico_del{ width:12px; height:14px; float:left; background-position:-39px 0;}
.ico_right{width:13px; height:14px; float:left;background-position:-3px 0;}
.ico_stop{width:14px; height:15px; float:left;background-position:-58px 0;}
.ico_view{width:14px; height:16px; float:left;background-position:-74px 0;}
.ico_default{width:14px; height:16px; float:left;background-position:-92px -69px;}
.ico_updown{width:14px; height:16px; float:left;background-position:-113px -37px;}
.ico_info{ width:14px; height:12px;background-position:0 -90px;}
.ico_begin{width:14px; height:14px;float:left;background-position:-20px -87px;}
.ico_over{width:14px; height:14px;float:left;background-position:-36px -87px;}
/*body content*/
.body .con .role dl{ margin-left:20px;}.body .con .role dt{ clear:both; margin-bottom:10px; cursor:pointer;}.body .con .role dd p{ width:280px; height:30px; float:left; clear:both; padding-left:50px;}.role_arr{ width:10px; height:9px; float:left; background:url(images/form_body.jpg) -3px -75px no-repeat; margin:2px 8px 0 0;}
.body .title{ width:auto; height:26px; border-bottom:1px solid #e0e0e0;}
.body .hd{ width:126px; height:26px; display:block;background-position:-82px 0; text-align:center; line-height:28px; font-weight:bold; float:left;}
.body .sc{height:26px; float:right;}
.body b{ margin-right:5px;float:left;}
.body .order{ width:120px; height:20px; margin-left:50px; display:block; cursor:pointer;}
.body .order_dw_df{ width:16px; height:16px; display:block;background-position:-19px -24px;}
.body .order_dw_av{ width:16px; height:16px;background-position:-39px -24px;margin-left: 0}
.body .order_up_df{ width:16px; height:16px; display:block;background-position:-19px -44px;margin-left: 0}
.body .order_up_av{ width:16px; height:16px;background-position:-39px -44px;margin-left: 0}
/*tabs begin*/
.ui-tabs {width:1000px;}.tabs-nav{width:auto;height:25px;border-bottom:1px solid #e0e0e0; padding:5px auto auto 20px;}
.tabs-nav li{width:auto; height:19px;_height:18px;float: left;border:1px solid #e0e0e0;background:#FFF; text-align:center;cursor: pointer; margin: 5px 4px 0 0;_margin: 6px 4px 0 0; padding:0 10px;} 
.tabs-nav li.hover{height:20px;_height:19px; border:1px solid #0b0b0b;border-bottom:none;}.tabs-panel {display: block; clear:both; padding:20px 0;}.tabs-nav2 li{cursor:pointer; line-height:24px;}.tabs-nav2 li.hover{ background:#ededed; }
/*tabs end*/
.select_box{ width:100px; height:200px; border:1px solid #e0e0e0; margin:20px auto;}.select_box li{ width:80px; height:40px; line-height:40px;}
.body #fun_tit1{ width:100px; height:20px; background:#FFF; position:absolute; z-index:100; left: 71px; top: 88px; text-align:center; color:#084bd0; }
.body #fun_tit2{ width:60px; height:20px; background:#FFF; position:absolute; z-index:100; left: 527px; _left: 510px; top: 85px; text-align:center; color:#084bd0; }
.sel_ico{ width:10px; height:13px; background-position:-87px -36px; float:left;}
/*goods img scroll begin*/
.s-pic { position:relative; width:570px; height:80px; margin-left:0;}.s-pic .control { width:12px; height:17px; display:block; float:left; position:absolute; top:25px; cursor:pointer; }
#spec-list3{width:560px;float:left; overflow:hidden; margin-left:8px;}
#spec-list3 li{ float:left; padding:0 2px; position:relative;}#spec-list3 li img{border:1px solid #ededed;}#spec-list3 li img:hover{ border:1px solid #6a9232;}
#spec-list3 li #del{ width:9px; height:10px; display:block; background-position:-41px -73px; position:absolute; z-index:300; left:72px; top:2px; cursor:pointer;}
#spec-left {left:8px; background-position:-154px -93px;}#spec-right {right:8px; background-position:-177px -93px;}
/*goods img scroll end*/
/*pages begin*/
.s_page {height:30px; line-height:30px; color:#5B5B5B; float:right;}
.s_page a { height:20px; display:block; line-height:22px; border:1px solid #cdcdcb; float:left; margin-right:4px; padding:0 8px; }
.s_page a.select{border:0; background:none;}.s_page a.select:hover { border:0; background:none;}
.s_page a:hover { background:#739a2c; border:1px solid #4b6f0a; cursor:pointer; color:#FFF; }.s_page a.on { background:#739a2c; border:1px solid #4b6f0a; cursor:pointer; color:#FFF; }
.s_page a:link, .s_page a:visited { color:#5B5B5B; font-size:12px; }.s_page a:hover { color:#fff; }
/* admin main end */
/*product sort*/
.tree_panel{ width:230px; float:left; border:1px solid #CCC; margin-top:5px;height:400px; overflow-y:auto; margin-right:20px;}
.tree_panel ul {margin-left: 15px;}
.tree_panel ul li {cursor: default;}
.tree_panel .open_opt{float: left;width: 20px;cursor: pointer;display: inline-block;}
.tree_panel .colse_opt{float: left;width: 20px;cursor: pointer;display: inline-block;}
.tree_panel .open{display:block;}
.tree_panel .close{display: none;}
.sort_panel{ float:left; }
.sort_panel .s-tree{ width:230px; height:350px; float:left; overflow-y:auto; border:1px solid #ccc;}
.sort_panel .s-panle{ float:left;}
.sort_panel .s-panle .sorts_tit{height:30px; line-height:30px; clear:both; text-align:left; float:left;}
.sort_panel .s-panle .sorts_con{ clear:both;}
.sort_panel .s-panle .sorts_con .change_btn{ width:70px; float:left;}
.sort_panel .s-panle .sorts_con .tree_item{ float:left;}
/*sort-box*/
.sort-box{ width:400px; border:1px solid #789017; background:#f7f8f8; position:absolute; z-index:300; top:50px; display:none;}
.sort-box .tit,.brand-box .tit{ height:30px; background:url(images/body_admin.png) 0 -190px repeat-x; padding:0 5px;}
.sort-box .tit h3,.brand-box .tit h3{ float:left; line-height:30px; font-size:14px; color:#FFF;}
.sort-box .tit b,.brand-box .tit b{ width:12px; height:12px;float:left; background-position:-210px -172px; margin-top:8px;}
.sort-box .tit .good_del a,.brand-box .tit .brand_del a { width:17px; height:17px; display:block; float:right; background-position:-190px -169px; margin:6px 3px 0 0;}
.sort-box .tit .good_del a:hover,.brand-box .tit .brand_del a:hover{ background-position:-230px -169px;}
.sort-box .con{ padding:10px;}
/*brand-box*/
.brand-box{ width:402px; height:300px;  border:1px solid #789017; background:#f7f8f8; position:absolute; z-index:300;}
.brand-box .con{ height:230px;}
.brand-box .enterbar{ height:40px;}
.brand-box .con .brand_bar{ height:20px; line-height:20px; border-bottom:1px solid #ccc; padding-left:10px;}
.brand-box .con .brand_bar li{display:block; padding:0 10px; float:left;border:1px solid #ccc;border-bottom:none; margin-right:5px;}
.brand-box .con .brand_bar li:hover{background:#6a8f25; color:#FFF; border:1px solid #6a8f25;border-bottom:none;}
.brand-box .con .brand_bar li.hover{background:#6a8f25; color:#FFF; border:1px solid #6a8f25;border-bottom:none;}
.brand-box .con .brand_list{height:200px; clear:both; margin:10px; overflow-y:scroll;}
.brand-box .con .brand_list a{ float:left; padding:2px 5px; display:block; margin:0 5px 5px 0; border:1px solid #ccc; background:#effde5;}
.brand-box .con .brand_list a:hover{ background:#6a8f25; color:#FFF;border:1px solid #6a8f25;}
.brand-box .con .brand_list a.hover{ background:#6a8f25; color:#FFF;border:1px solid #6a8f25;}
/*shop info box*/
.order-overlay { width:100%; height:100%; filter:alpha(opacity=50); opacity: .5; position:absolute; background:#000; top:0; left:0; z-index:300; display:none; } 
.shop_box{ position:absolute; z-index:500; top:0px; padding:10px; padding-top:5px;  cursor:move;}
.add_box{ z-index:600; position:absolute; left: 1090px; }
/*color box*/
.color_box{ width:600px;position:absolute; z-index:95; top:25px; left:90px; display:none;}.color_box h4{ height:30px; line-height:30px; font-weight:bold; margin-left:10px;}
.color_box .cntBox{ width:300px;clear:both; padding:0 0 10px 10px;}.color_box .cntBox b{ display:block; float:left; margin:0 5px 5px 0;}.color_box .cntBox b img{ margin:0 5px 0 5px;}
/*sel_good_box*/
.sel_box{ width:70px\9; height:20px; line-height:20px; padding:0 5px; margin-right:5px; border:1px solid #acd1eb; background:#e7f2f9; float:left;}
.s-del a{ width:8px; height:10px; margin:0 2px; display:block; background-position:-117px -39px; margin-top:5px;}.s-del a:hover{ background-position:-105px -40px;}
/*goods list*/
.p-b{ width:10px; height:80px; float:left;}
.p-top{ width:18px;writing-mode:lr-tb;letter-spacing:5px;border:1px solid #7dc63e; background:#d5ffba; padding-left:4px;float:left; margin:12px 5px 0 5px;}
.p-img{ width:100px;float:left; margin:10px 5px 0 10px; padding-left:5px;}.p-img img{ border:1px solid #CCC;}
.p-inf{ width:230px;float:left; line-height:30px; margin-top:10px;}
/*goods attribute*/
.attr_info{ width:900px; height:30px; line-height:30px; text-align:left; margin-bottom:20px;}.attr{clear:both;}
.attr dl{margin-bottom:20px;  padding:10px; clear:both;}.attr dt{ height:25px; text-align:left; padding:5px 0 2px 20px; line-height:24px;clear:both; margin:10px auto;}
.attr b{ float:left;}.attr b.n{ width:67px; text-align:right;}.attr dd{ height:30px; line-height:30px; float:left; margin:5px 20px 0 0; display:block;}
/*block_list*/

.b_list{}
.b_list li{width:314px; height:34px; display:block;float:left; border-right:1px solid #CCC;border-bottom:1px solid #CCC;border-left:1px solid #CCC;}
.b_list li .s_name{ width:232px; height:30px; line-height:30px; float:left; text-align:center;}
.b_list li .s_quantity{ width:80px; height:30px; padding-top:5px; float:left; text-align:center;border-left:1px solid #CCC;}

.break-word {word-wrap: break-word;break-word: break-all;}

/*upload image commponent*/
.ruimage > img {cursor: url("../css/images/big.cur"), pointer;width: 150px;}
.ruimage .ruimageCotent > img {cursor: url("../css/images/small.cur"), pointer;}







